/*整体*/
*{
	margin:0px auto;
	padding:0px;
	font-size:12px;
	list-style:none;
	font-family: 宋体;
	text-decoration:none;
	color:#522a06;}
a{color:#522a06;text-decoration:none;}
a:hover{text-decoration:underline;}
li{list-style:none;margin:0px;padding:0px;}
body{background:center;margin: 0px auto;text-align: center;width: 1000px;}
.clear{clear:both;}
/*顶部*/
#header{margin:0px;padding:0px;width:1000px;text-align:center;background:url(../images/beijing1.jpg);background-repeat:no-repeat;}
.dingbu{width:1000px;height:auto;text-align:center;}
.logo img{float:left;margin-top:38px;margin-left:25px;display:block;}
.dengru img{float:right;margin-top:76px;margin-right:25px;}
.zhuce img{float:right;margin-top:76px;margin-right:25px;}
/*超链接*/
.nav{width:1000px;margin-top:25px;margin-left:0px；height: 30px;float: left;}
.nav ul{ margin:0; padding:0; list-style:none;}
.nav ul li{float: left;height: 30px;line-height: 30px;background-color: #E3F2AE;border: 1px solid #ADD322;}
.nav a{font-size: 14px;text-align: center;display: block;width: 100px;text-decoration: none;color: #000;}
.nav li ul{display:none;width:100px;height:auto;}
.nav li:hover ul{display:block;}
.one{color:#fff;font-weight:bolder;}
/*搜索框*/
.sousuokuang{width:300px;height:30px;float: right;margin-top:-32px;}
input{display: block;width: 200px;height: 30px;float:left;}
.sousuo{float:left;}
/*banner*/
.banner{margin-top:60px;padding:0px;text-align:center;)